In [1]:
import plotly.graph_objects as go 
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from plotly.subplots import make_subplots

In [2]:
# import chart_studio
# chart_studio.tools.set_credentials_file(username='skant', api_key='Xgy2gvi6Gzg8KXaLZsis')

In [3]:
# from chart_studio.tools import set_config_file
# set_config_file(
#     plotly_domain="https://plotly.com", 
#     plotly_api_domain="https://api.plotly.com",
#     plotly_streaming_domain='https://stream-plotly.com',
#     world_readable=True,
#     sharing='public'
# )

In [4]:
# import chart_studio.plotly as py
# import plotly.graph_objects as go

# trace0 = go.Scatter(
#     x=[1, 2, 3, 4],
#     y=[10, 15, 13, 17],
#     mode='lines'
# )
# trace1 = go.Scatter(
#     x=[1, 2, 3, 4],
#     y=[16, 5, 11, 9],
#     mode='lines'
# )
# data = [trace0, trace1]

# py.plot(data, filename = 'basic-line', auto_open=True)

In [5]:
# df = pd.read_excel('https://rbidocs.rbi.org.in/rdocs/content/docs/PSDDP04062020.xlsx')

In [7]:
import requests
url = "https://rbidocs.rbi.org.in/rdocs/content/docs/PSDDP04062020.xlsx"
resp = requests.get(url)
with open('data.xlsx', 'wb') as output:
    output.write(resp.content)

xl = pd.ExcelFile('data.xlsx')
res = len(xl.sheet_names)

3

In [11]:
df = pd.DataFrame()

for i in range(res):
    temp = pd.read_excel('test.xlsx', sheet_name=i,
                      na_values=['h'], skiprows=5, skipfooter=10).dropna(how='all')[:-1]
    df = df.append(temp)

In [12]:
df

,Unnamed: 0,Vol,Val,Vol.1,Val.1,Vol.2,Val.2,Vol.3,Val.3,Vol.4,...,Vol.7,Val.7,Vol.8,Val.8,Vol.9,Val.9,Vol.10,Val.10,Vol.11,Val.11
0,"June 1, 2020",4.85000,436996.690000,172.11000,104275.130000,0.43618,7.682205,476.96710,10413.108975,76.80648,...,23.82175,44.367367,5.43,95.36,17.5486,15056.242600,105.81840,4764.812000,29.01883,696.561179
1,"June 2, 2020",4.54340,361878.871532,100.06772,65259.016108,0.44138,7.665516,476.78182,9951.298586,72.24891,...,24.38030,46.225374,5.21,81.15,18.2500,16041.190345,105.13087,4781.974663,28.29832,676.752623
2,"June 3, 2020",4.30157,330632.892258,100.36426,62985.750191,0.43952,7.476038,456.25930,9622.375213,68.14805,...,25.36248,47.213057,5.24,81.36,16.7600,14536.470000,99.48995,4426.915552,28.85204,668.884848
3,"June 4, 2020",4.35152,329072.447410,94.65655,63148.288625,0.44828,7.323838,463.04959,9639.502869,70.68543,...,25.80935,48.389065,5.51,83.05,17.3900,14865.920000,101.38002,4424.531824,29.56756,648.922639
4,"June 5, 2020",4.56267,365468.951984,111.26259,68932.718600,0.47535,7.324794,464.79398,9539.524729,72.99507,...,25.99207,48.601433,5.33,85.94,18.2500,15214.060000,101.19150,4321.009311,32.65205,646.989160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,"August 8, 2020",NaN,NaN,16.44709,8205.328063,0.38000,5.990000,538.93000,9938.800000,77.43000,...,32.41000,57.910000,6.63,99.88,NaN,NaN,99.94000,4293.320000,18.82000,454.130000
8,"August 9, 2020",NaN,NaN,9.35194,2915.886424,0.37000,5.260000,440.12000,6578.760000,59.30000,...,28.05000,54.170000,5.79,84.65,NaN,NaN,73.28000,2855.340000,18.25000,407.290000
9,"August 10, 2020",7.03149,428330.230399,140.46884,97391.686016,1.04000,14.690000,511.87000,10388.900000,93.32000,...,30.39000,51.760000,8.33,154.24,33.1200,23984.940000,119.98000,5165.170000,46.31000,1053.550000
10,"August 11, 2020",4.76067,284861.412362,91.87270,66477.693551,0.92000,12.900000,578.27000,11411.040000,86.35000,...,30.67000,54.890000,8.20,142.02,24.8000,18302.620000,114.06000,4880.500000,40.87000,940.910000
11,"August 12, 2020",3.64997,250174.717661,83.68097,58909.301518,0.87000,12.320000,558.47000,10962.220000,81.66000,...,30.27000,55.010000,8.21,137.30,16.7600,13221.680000,102.36000,4314.020000,34.09000,798.420000

In [9]:
sys = ['RTGS','NEFT','AePS','UPI','IMPS','NACH Credit','NACH Debit','NETC','BBPS','CTS','NFS (through ATMs)','AePS (through micro-ATMs / BCs)']

txn = ['Vol','Val']

cols = ['Date']
for s in sys:
    for t in txn:
        cols.append(s+'_'+t)

In [10]:
df = pd.concat([jun20, jul20, aug20])

df.columns = cols

df['Date'] =  pd.to_datetime(df['Date'], format='%B %d, %Y')

In [11]:
df

,Date,RTGS_Vol,RTGS_Val,NEFT_Vol,NEFT_Val,AePS_Vol,AePS_Val,UPI_Vol,UPI_Val,IMPS_Vol,...,NETC_Vol,NETC_Val,BBPS_Vol,BBPS_Val,CTS_Vol,CTS_Val,NFS (through ATMs)_Vol,NFS (through ATMs)_Val,AePS (through micro-ATMs / BCs)_Vol,AePS (through micro-ATMs / BCs)_Val
0,2020-06-01,4.85000,436996.690000,172.11000,104275.130000,0.43618,7.682205,476.96710,10413.108975,76.80648,...,23.82175,44.367367,5.43,95.36,17.5486,15056.242600,105.81840,4764.812000,29.01883,696.561179
1,2020-06-02,4.54340,361878.871532,100.06772,65259.016108,0.44138,7.665516,476.78182,9951.298586,72.24891,...,24.38030,46.225374,5.21,81.15,18.2500,16041.190345,105.13087,4781.974663,28.29832,676.752623
2,2020-06-03,4.30157,330632.892258,100.36426,62985.750191,0.43952,7.476038,456.25930,9622.375213,68.14805,...,25.36248,47.213057,5.24,81.36,16.7600,14536.470000,99.48995,4426.915552,28.85204,668.884848
3,2020-06-04,4.35152,329072.447410,94.65655,63148.288625,0.44828,7.323838,463.04959,9639.502869,70.68543,...,25.80935,48.389065,5.51,83.05,17.3900,14865.920000,101.38002,4424.531824,29.56756,648.922639
4,2020-06-05,4.56267,365468.951984,111.26259,68932.718600,0.47535,7.324794,464.79398,9539.524729,72.99507,...,25.99207,48.601433,5.33,85.94,18.2500,15214.060000,101.19150,4321.009311,32.65205,646.989160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2020-08-07,5.69707,316649.381298,132.89252,93507.614338,0.57000,8.470000,504.21000,10464.830000,86.54000,...,32.12000,56.370000,6.98,120.80,23.6400,18666.740000,111.16000,4913.260000,26.86000,652.300000
7,2020-08-08,NaN,NaN,16.44709,8205.328063,0.38000,5.990000,538.93000,9938.800000,77.43000,...,32.41000,57.910000,6.63,99.88,NaN,NaN,99.94000,4293.320000,18.82000,454.130000
8,2020-08-09,NaN,NaN,9.35194,2915.886424,0.37000,5.260000,440.12000,6578.760000,59.30000,...,28.05000,54.170000,5.79,84.65,NaN,NaN,73.28000,2855.340000,18.25000,407.290000
9,2020-08-10,7.03149,428330.230399,140.46884,97391.686016,1.04000,14.690000,511.87000,10388.900000,93.32000,...,30.39000,51.760000,8.33,154.24,33.1200,23984.940000,119.98000,5165.170000,46.31000,1053.550000
10,2020-08-11,4.76067,284861.412362,91.87270,66477.693551,0.92000,12.900000,578.27000,11411.040000,86.35000,...,30.67000,54.890000,8.20,142.02,24.8000,18302.620000,114.06000,4880.500000,40.87000,940.910000

# Using plotly express

In [12]:
# import plotly.express as px

# fig = px.line(df, x='Date', y='RTGS_Vol',
#                  title="Txn Vol (in lakhs)",
#                 render_mode="svg")

# fig.show()

# Using plotly graph objects

In [13]:
import chart_studio.plotly as py
import plotly.graph_objects as go


trace0 = go.Scatter(x=df.Date,
                    y=df.RTGS_Vol,
                    name = 'RTGS',
                    mode='lines+markers',
                    connectgaps=True
                   )
trace1 = go.Scatter(x=df.Date,
                    y=df.NEFT_Vol,
                    name = 'NEFT',
                    mode='lines+markers',
                    connectgaps=True
                   )

data = [trace0, trace1]

layout = dict(
    title = "Transaction Volume"
)

fig = dict(data=data, layout=layout)


py.iplot(fig, filename = 'basic-line', auto_open=False)

# Plotly Dashboard

In [14]:
# import plotly.graph_objects as go # or plotly.express as px
# fig = go.Figure() # or any Plotly Express function e.g. px.bar(...)
# # fig.add_trace( ... )
# # fig.update_layout( ... )

# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# from dash.dependencies import Input, Output
# app = dash.Dash()


# # App Layout
# app.layout = html.Div([
#     html.H1("Payment Systems Daily Data", style = {'text-align': 'center'}),
#     dcc.Dropdown(id = 'pmt_mode',
#                 options=[
#                         {'label': 'RTGS', 'value': 'RTGS'},
#                         {'label': 'NEFT', 'value': 'NEFT'},
#                         {'label': 'AePS', 'value': 'AePS'},
#                         {'label': 'UPI', 'value': 'UPI'},
#                         {'label': 'IMPS', 'value': 'IMPS'}
#                     ],
#                 value = 'NEFT',
#                 style = {'width':'40%'}
#                 ),
#     html.Div(id = 'output_container',children = []),
#     html.Br(),
        
#     html.Div([
#         html.Div([
#             html.H3('Column 1'),
#             dcc.Graph(id='pmt_vol', figure={})
#         ], className="six columns"),

#         html.Div([
#             html.H3('Column 2'),
#             dcc.Graph(id='pmt_val', figure={})
#         ], className="six columns"),
#     ], className="row"),
# ])
    


# @app.callback(
#     [
#         Output(component_id = 'output_container', component_property = 'children'),
#         Output(component_id = 'pmt_vol', component_property = 'figure'),
#         Output(component_id = 'pmt_val', component_property = 'figure')
#     ],
#     [
#         Input(component_id = 'pmt_mode', component_property = 'value')
#     ]
# )

# def update_graph(option_selected):
#     print(option_selected)
#     container = "The payment mode selected is {}".format(option_selected)
    
#     dff = df.copy()
#     dff = df[['Date', option_selected + '_' + 'Vol', option_selected + '_' + 'Val']]

# ## Using Plotly Express
#     fig1 = px.line(dff, x = 'Date', y = option_selected + '_' + 'Vol',
#                  title="Txn Vol (in lakhs)",
#                 render_mode="svg")
#     fig1.update_traces(connectgaps=True)
    
#     fig2 = px.line(dff, x = 'Date', y = option_selected + '_' + 'Val',
#                  title="Txn Val (in crores)",
#                 render_mode="svg")
#     fig2.update_traces(connectgaps=True)


#     return container, fig1, fig2
    
# # app.css.append_css({
# #     'external_url': 'https://codepen.io/chriddyp/pen/bWLwgP.css'
# # })

# app.run_server(debug=True, use_reloader=False)  # Turn off reloader if inside Jupyter

In [15]:
# import plotly.graph_objects as go # or plotly.express as px

# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# from dash.dependencies import Input, Output
# app = dash.Dash()


# # App Layout
# app.layout = html.Div([
#     html.H1("Payment Systems Daily Data", style = {'text-align': 'center'}),
#     dcc.Dropdown(id = 'pmt_mode',
#                 options=[
#                         {'label': 'RTGS', 'value': 'RTGS'},
#                         {'label': 'NEFT', 'value': 'NEFT'},
#                         {'label': 'AePS', 'value': 'AePS'},
#                         {'label': 'UPI', 'value': 'UPI'},
#                         {'label': 'IMPS', 'value': 'IMPS'}
#                     ],
#                 value = 'NEFT',
#                 style = {'width':'40%'}
#                 ),
#     html.Div(id = 'output_container',children = []),
#     html.Br(),
        
#     html.Div([
#             dcc.Graph(id='pmt_dash', figure={})
# ])
# ])    


# @app.callback(
#     [
#         Output(component_id = 'output_container', component_property = 'children'),
#         Output(component_id = 'pmt_dash', component_property = 'figure'),
#     ],
#     [
#         Input(component_id = 'pmt_mode', component_property = 'value')
#     ]
# )

# def update_graph(option_selected):
#     container = "The payment mode selected is {}".format(option_selected)
    
#     dff = df.copy()
#     dff = df[['Date', option_selected + '_' + 'Vol', option_selected + '_' + 'Val']]

# ## Using Graph Objects
#     fig = go.Figure() # or any Plotly Express function e.g. px.bar(...)

#     fig = make_subplots(rows=1, cols=2, subplot_titles=("Transaction Vol", "Transaction Value"))

#     fig.add_trace(
#         go.Scatter(x=dff['Date'], y=dff[option_selected + '_' + 'Vol'], connectgaps=True, name = 'Txn Vol'),
#         row=1, col=1
#     )

#     fig.add_trace(
#         go.Scatter(x=dff['Date'], y=dff[option_selected + '_' + 'Val'], connectgaps=True, name = 'Txn Val'),
#         row=1, col=2
#     )

# # Update yaxis properties
#     fig.update_yaxes(title_text="Txn Vol (in lakhs)", row=1, col=1)
#     fig.update_yaxes(title_text="Txn Val (in inr crores)", row=1, col=2)
    
#     fig.update_layout(height=600, width=1900, title_text="Payment mode: {}".format(option_selected), 
#                       title_x=0.5, showlegend= False)
                                    
#     return container, fig
    

# app.run_server(debug=True, use_reloader=False)  # Turn off reloader if inside Jupyter

Dash is running on http://127.0.0.1:8050/

 Warning: This is a development server. Do not use app.run_server
 in production, use a production WSGI server like gunicorn instead.

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on